@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange-stu: #F48C06;
  --logo-cyan :#00FFF0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins : var(--font-poppins);
  --font-nunito : var(--font-nunito);
  --font-montserrat : var(--font-montserrat);
  --color-logo:#00FFF0;
  --color-orange-stu:#FA8C06;
  --color-orange-box:#F88C3D;
  --color-grey-text:#696984;
  --color-blue-d-cyan:#23BDEE;
  --color-grey-light:#545567;
  --color-grey-dark:#595959;
  --color-dark-text: #010514;
  --color-blue-dark:#2F327D ;
  --color-blue-cyan:#00CBB8;
  --color-blue-mid:#5B72EE;
  --color-blue-light:#29B9E7;
  --color-pink-bold:#D8587E;
  --color-pink-light: #F3627C;
  --color-card-grey: #C4C4C4;
  --color-black-text :#010514;
  --color-green-light: #33EFA0;
  --color-grey-light2: #EAEAEA;
  --color-grey-light1:#F4F4F4;
  --color-red-light : #EE6767;
  --color-yellow-light:#F6C566;
  --color-green-light2: #5BEB7B;
  --color-blue-light1 :#33D9EF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: #ffffff;
  /* color: var(--foreground); */
  color: #171717;
  font-family: var(--font-poppins);
}